.page-header {
  .page-header-inner {
    .page-logo {
      a {
        padding: 16px 0 15px 0;
        text-decoration: none;
        font-size: 26px;
        color: #ffffff;
      }
    }
	  .img-circle {
		  width: 39px;
		  height: 39px;
	  }
  }
}
