## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws

## Project Documentation
docs

node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist

/server/config/local.env.js
/server/config/aws

npm-debug.log
## Project Package
*.zip

