/**
 *	Bootstrap 등의 CSS Framework에서 설정하고 있는 기본 변수들을
 *	Override하여 오버헤드를 줄이기 위한 sass파일.
 **/
@import "mdnoverride";

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// Core variables and mixins
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/breadcrumbs";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/pagination";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/pager";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/badges";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/thumbnails";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/progress-bars";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/panels";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/responsive-embed";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/wells";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/modals";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/responsive-utilities";



//@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'interiorpic/interiorpic.scss';
@import 'magazine/card/magazine.card.scss';
@import 'magazine/magazine.scss';
@import 'mdnoverride.scss';
@import 'product/product.scss';
@import 'signin/signin.scss';
@import 'signup/signup.scss';
@import 'story/story.scss';
@import 'layout/header/header.scss';
// endinjector
